{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Coro</title>
        <meta name="description" content="Coro helps you know yourself better.">
        <meta name="keywords" content="brain, scanner, sleep">
        <link rel="stylesheet" href="{% static '/css/style.css' %}">
    </head>
    <body>
        <div class="header">
            <div class="header__container">
                {% include 'logo.svg' %}
            </div>
        </div>
        <div class="nav">
            
        </div>
    </body>
</html>